{% url 'templates_records:home' as templates_records_home_url %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{% block title%} {% endblock%}</title>
  </head>
  <body>
<div class="container">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom shadow-sm">
  <a class="navbar-brand" href="{% url 'home' %}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li><a class="nav-link" href="{% url 'templates_records:home' %}">Records</a></li>
      <li class="nav-item">
          {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'logout' %}">Log out</a>
          {% else %}
            <a class="nav-link" href="{% url 'login' %}">Log in</a>
          {% endif %}
      </li>
    </ul>
  </div>
</nav>
</div>
   <div class="container my-4">
     <div class="row">
       <div class="col-md-8 mx-auto">
         {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class = "alert alert-danger messages">
                  <span{% if message.tags %} class="{{ message.tags}}"{% endif %}>
                       Attention! {{ message }} <br />
                  </span>
                </div>
                {% else %}
                  <div class = "alert alert-success messages">
                  <span{% if message.tags %} class="{{ message.tags}}"{% endif %}>
                  {{ message }}<br />
                  </span>
                </div>
                {% endif %}
            {% endfor %}
         {% endif %}
       </div>
     </div>
   </div>
<div class="container">
{% block content%} {% endblock%}
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>